@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: "DM Sans", serif;
    background-color: $background;
	color: $text;
}
::view-transition-old(root),
::view-transition-new(root) {
	animation-duration: 0.1s;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 0.5em;
	height: 0.5em;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #555;
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	background: #707070;
}

@view-transition {
	navigation: auto;
  }